//- view/admin/header.pug

nav.navbar.navbar-dark.bg-secondary.flex-nowrap
  .container-fluid
    a.navbar-brand(href="/admin") 
      img(src="/img/site_logo_small.png" width="151" height="47")
    span.navbar-brand Accessible Telecoms Administration
    ul.navbar-nav.justify-content-end
      li.nav-item
        a.nav-link(href="/admin/logout") Logout